/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.users {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-basis: 500px;
}

.users a {
  width: 500px;
  text-decoration: none;
  color: blue;
}

.posts a {
  text-decoration: none;
  color: rgb(51, 51, 53);
}

.actions a {
  color: #f700ff;
  text-decoration: none;
}

.users a:hover {
  text-decoration: underline;
  color: red;
}

.users a:visited {
  color: rgb(40, 40, 41);
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #232222;
  border-radius: 5px;
  padding: 1rem;
  height: 200px;
  box-shadow: -3px 15px 5px -10px rgba(0, 0, 0, 0.67);
  -webkit-box-shadow: -3px 15px 5px -10px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -3px 15px 5px -10px rgba(0, 0, 0, 0.67);
}

.img-container {
  width: 100px;
  height: 100px;
}

.img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.show-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100vw;
  align-items: center;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 500px;
  padding: 1rem;
  border: 2px solid #232222;
}

.interactions {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: right;
}

.post-title {
  display: flex;
  width: 100%;
  justify-content: left;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #232222;
  padding: 1rem;
  width: 500px;
}

.posts-show {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100vw;
}

.post-show {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 500px;
  padding: 1rem;
  border: 2px solid #232222;
}

.post-title-show {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.post-interact {
  display: flex;
  gap: 1rem;
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 500px;
  padding: 1rem;
  border: 2px solid #232222;
  margin: 0 auto;
}

.title-input {
  margin: 1rem 0;
}

.title-input input {
  height: 1.5rem;
  width: 15rem;
}

.comment-input input {
  height: 3rem;
  width: 15rem;
}

.submit {
  margin: 1rem 0;
}

.add-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 500px;
  padding: 1rem;
  border: 2px solid #232222;
  margin: 0 auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.input-field {
  width: 40vw;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  width: 40vw;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.login-button:hover {
  background-color: #0056b3;
}

.remember-me-label {
  font-size: 14px;
  color: #555;
}

.actions a:hover {
  text-decoration: underline;
}
